<div class="text.center">
    <div class="alert alert-success" role="alert">
        <i class="fas fa-check-circle"></i> Información ingresada correctamente.
    </div>

    <div>
        @ViewBag.Info fue agregado con exito !
    </div>

    <a type="button" href=/Admin/AgregarDatos class="btn btn-dark">Volver</a>
</div>
