@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
  <div class="row">
    <div class="col">
      <div>
          Bienvenido 
      </div>
    </div>
    <div class="col">
      <div>
          Información importante....
      </div>
    </div>
  </div>