<div class="">
    <div class="row">
        <div class="col-sm">
            <h4 class="title-page">Solicitá tu turno</h4>
            <form method="POST" action='@Url.Action("EnviarSolicitudTurno", "User")'>
                <div class="form-group" id="contact-form-style">
                    <label for="nombre">Nombre</label>
                    <input type="text" value=@ViewBag.Nombre class="form-control form-control-lg" name="nombre">
                </div>

                <div class="form-group" id="contact-form-style">
                    <label for="mail">Mail</label>
                    <input type="email" value=@ViewBag.Mail class="form-control" name="mail">
                </div>

                <div class="form-group" id="contact-form-style">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono">
                </div>

                <div class="form-group" id="contact-form-style">
                    <label for="solicitudTurno">Por favor dejanos el nombre del médico o la especialidad con la que
                        deseas sacar el turno y tu disponibilidad horaria. Muchas Gracias</label>
                    <textarea class="form-control" name="solicitudTurno" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>

        <div class="col-sm">
            <h4 class="title-page">También podes solicitarlo por WhatsApp</h4>

            <div class="alert alert-dark" role="alert">
                <p style="font-family: 'Quicksand', sans-serif;"><b><u>Estimado paciente:</u></b> Le recordamos que el horario de atención para solicitar un turno o cualquier tipo de consulta es 
                    de lunes a viernes de 8 a 19Hs y sábados de 8 a 12Hs. Fuera de este horario no se responde ningun tipo de solicitud.
                    Muchas gracias.
                </p>
            </div>

            <div class="wp-button">
               <a href="https://api.whatsapp.com/send?phone=541168684553&text=Hola!%20Quiero%20solicitar%20un%20turno" role="button"><i class="fab fa-whatsapp" style="color: green;"></i></a>
            </div>
        </div>
    </div>
</div>