<div class="titulo-pagina">
    <span>Iniciá Sesión</span>
</div>

<form class="form-style">
    <div class="form-group">
        <label for="mail">Mail</label>
        <input type="text" class="form-control" name="mail">
    </div>

    <div class="form-group">
        <label for="contraseña">Constraseña</label>
        <input type="password" class="form-control" name="contraseña">
    </div>
    <button type="button" id="loggin-usuario" class="btn btn-dark">Ingresar</button>
</form>