
<div class="title-page">
  Coberturas
</div>

<div class="container">
  <div class="row row-cols-4">

    @foreach (var os in ViewBag.ObrasSociales)
    {

      <div class="card" id="card-os">
        <div class="card-body">
          <h5 class="card-title" style="color: white;">@os.Nombre <a href=@os.PaginaWeb target="_blank">
              <i class="fas fa-globe" style="color: white;"></i></a></h5>
        </div>
      </div>
    }

  </div>
</div>