@model IEnumerable<Sanatorio.Models.Plan>


<div class="">
  Coberturas
</div>

<div class="row">

  @foreach (var os in ViewBag.ObrasSociales)
  {

    <div class="col-sm">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h5>@os.Nombre</h5>
          <a href=@os.PaginaWeb target="_blank">
            <i class="fas fa-globe" style="color: white;"></i></a>
        </div>
        <div class="card-body">
          <h6 class="card-title">Planes:</h6>
          <p class="card-text">
            <div><i class="far fa-dot-circle"></i> plan.Nombre</div>
          </p>
        </div>
      </div>
    </div>
  }

</div>








<div id="accordion" class="accordion-style">
  <div class="card">
    <div class="card-header" id="card-accordion-style" id="headingOne">
      <h5 class="mb-0">
        <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
          data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <div>Accord Salud<i class="fas fa-caret-down" id="os-icon"></i></div>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div>210</div>
        <div>211</div>
        <div>310</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="card-accordion-style" id="headingTwo">
      <h5 class="mb-0">
        <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <div>Medicus<i class="fas fa-caret-down" id="os-icon"></i></div>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div>Cartilla Azul</div>
        <div>Cartilla Celeste</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="card-accordion-style" id="headingThree">
      <h5 class="mb-0">
        <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <div>Medifé<i class="fas fa-caret-down" id="os-icon"></i></div>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div>Platinum</div>
        <div>Oro</div>
        <div>Plata</div>
        <div>Plata Classic</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="card-accordion-style" id="headingFour">
      <h5 class="mb-0">
        <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <div>Omint<i class="fas fa-caret-down" id="os-icon"></i></div>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <div>Linea O</div>
        <div>Linea F</div>
        <div>Cartilla 8500</div>
        <div>Cartilla 6500</div>
        <div>Cartilla 4500</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="card-accordion-style" id="headingFive">
        <h5 class="mb-0">
          <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div>Osde<i class="fas fa-caret-down" id="os-icon"></i></div>
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <div>510</div>
          <div>410</div>
          <div>310</div>
          <div>210</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="card-accordion-style" id="headingSix">
          <h5 class="mb-0">
            <button id="button-link-accordion" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <div>Swiss Medical <i class="fas fa-caret-down" id="os-icon"></i></div>
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            <div>SMG 70</div>
            <div>SMG 60</div>
            <div>SMG 20</div>
            <div>SMG 10</div>
            <div>SMG 02</div>
          </div>
        </div>
      </div>