@model IEnumerable<Sanatorio.Models.Plan>


<div class="title-page">
  Coberturas
</div>

<div class="row">

  @foreach (var os in ViewBag.ObrasSociales)
  {

    <div class="col-sm">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h5>@os.Nombre</h5>
          <a href=@os.PaginaWeb target="_blank">
            <i class="fas fa-globe" style="color: white;"></i></a>
        </div>
      </div>
    </div>
  }

</div>