<div class="title-page">
    EBUS: un nuevo estudio para los pulmones
</div>

<div class="col-lg-8 col-12 detalle-contenido">
    <p>Enfermedades pulmonares: un estudio que permite nuevas y mejores alternativas para el diagnóstico, estadificación y tratamiento con múltiples beneficios para el paciente.</p>
<hr>
<p>En medicina, la incorporación de tecnología contribuye tanto a la prevención, como a la detección precoz y al diagnóstico completo de muchas enfermedades. Esto sucede también con el cáncer de pulmón, uno de los tumores más comunes a nivel mundial cuyo origen tiene una fuerte asociación con el consumo de tabaco. Habitualmente este tumor no presenta síntomas tempranos, por lo que se lo suele diagnosticar como hallazgo, o bien en estadios avanzados.</p>
<p>Existen adelantos tecnológicos que brindan nuevas alternativas para el diagnóstico, la estadificación (extensión de la enfermedad) y ello influye positivamente en las posibilidades de tratamiento de los tumores pulmonares. Este es el caso de la Eco-endoscopia endobronquial (EBUS).</p>
<p>Aunque se trata también de una endoscopia, a diferencia de la <span style="color: #006cb0;"><strong><a style="color: #006cb0;" href="https://medlineplus.gov/spanish/ency/article/003857.htm">broncofibroscopia</a> </strong></span>convencional, el EBUS, permite:</p>
<ul>
<li>visualizar en detalle los bronquios.</li>
<li>realizar una ecografía a través de la pared traqueobronquial.</li>
<li>inspeccionar los ganglios mediastinales adyacentes o el propio tumor.</li>
</ul>
<p>En caso de observarse características patológicas, se efectúa una punción biopsia que el patólogo somete a examen microscópico. Esto permite obtener el resultado definitivo con un alto índice de certeza en unos pocos días.</p>
<p><strong>Este procedimiento posibilita el estudio de cáncer de pulmón y otros tumores. Pero también de diferentes enfermedades e infecciones que pueden llegar a afectar al mediastino (región comprendida entre ambos pulmones).</strong></p>
<p><img class="alignnone size-full wp-image-38729" src="~/Imagenes/EBUSFoto.jpg" alt="EBUS" width="1020" height="560"></p>
<p>Este procedimiento, el EBUS, reemplaza a otras técnicas que son más invasivas para el diagnóstico y estadificación del cáncer pulmonar y tumores del mediastino. Desde hace más de un año, esta técnica se realiza en el Sanatorio Allende Cerro y puede efectuarse tanto en personas jóvenes, como en adultos de cualquier edad. Asimismo, ofrece numerosas ventajas para el paciente:</p>
<ul>
<li>es mínimamente invasivo.</li>
<li>se realiza bajo sedación con el debido monitoreo de signos vitales.</li>
<li>dura alrededor de 30 minutos.</li>
<li>el paciente puede retirarse a su domicilio inmediatamente después de recuperado de la anestesia.</li>
<li>puede experimentar molestias menores como decaimiento y tos.</li>
<li>podrá reintegrarse a sus actividades habituales el día siguiente.</li>
</ul>
<p>&nbsp;</p>
<p>Las complicaciones propias del EBUS son excepcionales y de escasa magnitud. Para realizar este estudio, previamente, el paciente debe realizarse análisis de sangre básicos y un examen cardiovascular de rutina. El día del estudio en necesario que el paciente concurra en ayunas y acompañado de un adulto.</p>
<p>Los adelantos tecnológicos, sumado a la capacitación y experiencia de nuestro equipo médico, permite obtener un diagnóstico preciso de ciertas enfermedades pulmonares de manera clara y eficaz. Además, posibilita seguir brindando una atención de calidad a nuestros pacientes.</p>
<p><span style="color: #006cb0;"><strong><a style="color: #006cb0;" href="https://www.sanatorioallende.com/especialidades/cirugia-de-torax/general/">Servicio de Cirugía de Tórax de Sanatorio Allende.</a></strong></span></p>
               <hr>
               <div class="row">
                    <div class="col-lg-8 col-12 footer-detalle-nota footer-detalle">
                        <p><i class="far fa-calendar-alt"> </i>9 de Diciembre, 2020 </p>
                    </div>
               </div>
            </div>
