<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="~/Imagenes/Ecocardiografia.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Ecocardiografía y Doppler Vascular</h5>
        <p class="card-text">
            <div><i class="far fa-check-circle"></i>  Ecocardiograma Doppler Color Transtorácico</div>
            <div><i class="far fa-check-circle"></i>  Ecocardiograma Transesofágico</div>
            <div><i class="far fa-check-circle"></i>  Eco-estrés con Ejercicio</div>
            <div><i class="far fa-check-circle"></i>  Eco-estrés Farmacológico</div>
            <div><i class="far fa-check-circle"></i>  Estudios de Doppler Vascular</div>
        </p>
        <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Eduardo Guevara</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="~/Imagenes/ecografia.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Ecografía</h5>
        <p class="card-text">
            <div><i class="far fa-check-circle"></i>  Ecografía Doppler de Arterias Renales</div>
            <div><i class="far fa-check-circle"></i>  Ecografía Abdominal</div>
            <div><i class="far fa-check-circle"></i>  Ecografía de Vasos de Cuello</div>
            <div><i class="far fa-check-circle"></i>  Ecografía Intervencionista</div>
            <div><i class="far fa-check-circle"></i>  Ecografía Tiroidea</div>
        </p>
        <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Daniel Alvarez</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="~/Imagenes/laboratorio.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Laboratorio de Analisis Clínicos</h5>
        <p class="card-text">
            <div>Areas Operativas:</div>
            <div><i class="far fa-check-circle"></i>  Hematología</div>
            <div><i class="far fa-check-circle"></i>  Hemostasia</div>
            <div><i class="far fa-check-circle"></i>  Microbiología</div>
            <div><i class="far fa-check-circle"></i>  Bioquímica Clínica</div>
            <div><i class="far fa-check-circle"></i>  Serología</div>
            <div><i class="far fa-check-circle"></i>  Virología</div>
            <div><i class="far fa-check-circle"></i>  Endocrinología</div>
        </p>
        <p class="card-text"><small class="text-muted">Jefe de servicio: Bioq. Daniel Pirola</small></p>
      </div>
    </div>
  </div>
</div>

