
#card-style {
    width: 18rem;
    background-color: black;
    color: floralwhite;
    border-color: floralwhite;
}

#headerModal {
    color: black;
}

#bodyModal {
    color: black;
}

.welcome-admin {
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
}
    
