.texto-historia{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 100%;
  }
  
  .autority-names {
    font-family: 'Quicksand', sans-serif;
    color: darkgrey;
  }

  .rol-authority {
    font-family: 'Quicksand', sans-serif;
    color: black;
  }