.history-text{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 100%;
  }
  
  .autority-names {
    font-family: 'Quicksand', sans-serif;
    color: black;
  }

  .rol-authority {
    font-family: 'Quicksand', sans-serif;
    color: rgb(90, 86, 86);
  }