@{
    if (ViewBag.UsuarioLogeado != null){
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm" id="authority-list">
        @foreach (var autoridad in ViewBag.Autoridades)
        {
            <div class="authority-names">
                <i class="fas fa-user-md" style="color: rgb(90, 86, 86); width:6; height:6;"></i>  @autoridad.NombreYApellido
            </div>
            <div class="rol-authority">
                - @autoridad.RolAutoridad
            </div>
        }
    </div>


    <div class="col-sm">
        <img style="width: 500px;" src="~/Imagenes/medicos-autoridades.jpg">
    </div>
</div>
